body{
    background-color: rgb(241, 250, 195);
} h1{
    font-size: xx-large; color: rgb(115, 201, 30);
}
img{ 
    border: rgb(0, 0, 0);
}
h2{
    font-size: x-large; color: rgb(115, 201, 30);
}
.tab { background-color: rgb(26, 26, 26);
    color: rgb(2, 2, 12); 
    height: 70px;
    max-width: 1100px;

}
